<html>
	<head> 
	<meta charset="utf-8">
		<title>消息页面</title>
		<link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
	</head>
	<body>
		<div class="container">
	       <div class="row clearfix">
		      <div class="col-md-2 column">
			    <img alt="140x140" src="images/a.jpg" class="img-circle" />
		      </div>
		      <div class="col-md-2 column">
			    <h3>
			       </br>
				   <span style="color:green">水杯</span>
			    </h3>
		      </div>
		      <div class="col-md-8 column">
		      </div>
	        </div>
        </div>

        <div class="container">
	       <div class="row clearfix">
		      <div class="col-md-10 column">
			      <dl>
				     <dt>
					      评论：
				     </dt>
				     <dd>
					    &nbsp;&nbsp;不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。
			            蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。
				     </dd>
				  </dl>
			  </div>
		      <div class="col-md-2 column">
		      </div>
	       </div>
       </div>

	</body>
</html>