<html>
	<head> 
	<meta charset="utf-8">
		<title>消息页面</title>
		<link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
        <script src="app/app.js"></script>
	</head>
	<body>
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
			<img alt="140x140" src="{{img}}" class="img-circle" />
		</div>
		<div class="col-md-2 column">
			<h3>
			    <br/>
				<span style="color:red">{{username}}</span>
			</h3>
		</div>
		<div class="col-md-8 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<dl>
				<dt>
					昵称：
				</dt>
				<dd>
					清晨
				<dt>
					所在地：
				</dt>
				<dd>
					石家庄河北师范大学软件学院
				</dd>
				<dt>
					职业：
				</dt>
				<dd>
					IT初学者
				</dd>
				<dt>
					QQ邮箱：
				</dt>
				<dd>
					1135174438@qq.com(欢迎打扰)
				</dd>
				<dt>
					座右铭：
				</dt>
				<dd>
					人生在世须尽欢，莫使金樽空对月
				</dd>
			</dl>
		</div>
	</div>
</div>
	</body>
</html>